@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Rubik:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  height: 100%;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  color: #343a40;
  background-color: #ffffff;
}

.bg-gray {
  background-color: #fafafa;
}

.pd-60 {
  padding: 60px 0px;
}

.container {
  padding: 0 12px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  z-index: 2;
  filter: drop-shadow(0px 0px 34px rgba(208, 208, 208, 0.4));

  margin: 0 auto;
}

.header__body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 52px;
  align-items: center;
}

.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.header__logo img {
  width: 100%;
  height: 100%;
  display: block;
}

body.lock {
  overflow: hidden;
}

.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 3;
}
.header__burger span {
  position: absolute;
  background-color: #000000;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.3s ease 0s;
}
.header__burger::before,
.header__burger::after {
  content: "";
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}

.header__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}

.header__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.header__burger.active span {
  transform: scale(0);
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff;
  transition: all 0.3s ease 0s;
}

.header__menu.active {
  top: 0;
}

.header__list {
  display: flex;
  position: relative;
  z-index: 2;
  flex-direction: column;
  align-items: center;
}

.header__list li {
  list-style: none;
  margin-bottom: 40px;
}

.header__link {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  color: #343a40;
  text-decoration: none;
}

.header__link:hover {
  color: #3355ff;
}

.banner-main {
  position: relative;
  padding-top: 52px;
  background-image: url("images/main-background.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 513px;
  padding: 74px 0px 60px 0px;
}

.main-body__title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
}

.main-body__name {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 108.9%;

  letter-spacing: 0.03em;

  margin-top: 10px;
}

.main-body__subtitle {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.01em;

  margin-top: 5px;
}

.main-body__description-use {
  display: flex;
  flex-direction: column;
}

.main-body__description-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 296px;
  height: 60px;

  background: #3355ff;
  border-radius: 4px;
}

.main-body__description-btn:hover {
  background: #1631b6;
}

.main-body__description-btn-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;

  margin-right: 8px;
}

.main-body__description-count {
  display: flex;
  align-items: center;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  margin-top: 12px;
}

.main-body__description-count::before {
  content: url("images/count-use.svg");
  display: inline-block;

  margin-right: 8.2px;
}

.main {
  position: relative;
}

.statistics-card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 24px;
}

.statistics-card-body__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 296px;
  height: 174px;
  background: #ffffff;
  box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4);
  border-radius: 4px;

  border-bottom: 5px solid #d3d2f3;
}

.statistics-card-body__counting {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
}

.statistics-card-body__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.possibilities-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;

  gap: 61px;
}

.possibilities-card-body {
  width: 296px;
  background: #ffffff;
  box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  padding: 0px 18px 24px 24px;
}

.possibilities-card-body__heading {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  padding-bottom: 12px;
}

.possibilities-card-body__img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 81px;
  height: 81px;
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  margin-top: -41px;
}

.possibilities-card-body__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 164.6%;

  letter-spacing: 0.01em;

  margin-top: 18px;
}

.possibilities-card-body__description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  margin-top: 5px;
}

.possibilities-card-body__subtitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  margin-top: 12px;
}

.possibilities-card-body__subdescription {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  margin-top: 5px;
}

.getting-container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.getting-container__item {
  min-width: 296px;
}

.getting-container-text {
  display: flex;
  flex-direction: column;
}

.getting-container__heading {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  margin-bottom: 32px;
}

.reverse {
  flex-direction: row-reverse;
}

.getting-container__title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 153%;

  margin-bottom: 12px;
}

.getting-container__description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  margin-bottom: 32px;
}

.getting-container__img {
  width: 296px;
  margin-bottom: 24px;
}

.banner {
  position: relative;
  background-image: url("images/banner-background.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 70px;
}

.banner-background {
  background-color: #4867ff;
}

.banner-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: #ffffff;

  padding: 74px 0px;
}

.banner-body__title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.02em;
}
.banner-body__name {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 58px;
  line-height: 69px;
  letter-spacing: 0.03em;

  margin-top: 10px;
}

.banner-body__description-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 276px;
  height: 60px;

  border-radius: 4px;
  background: #4867ff;
  border: 2px solid #ffffff;

  margin-top: 14px;
}

.banner-body__description-btn:hover {
  cursor: pointer;
  background: #3f60fe;
}

.banner-body__description-btn-text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;

  margin-right: 8px;
}

.banner-body__image img {
  width: 208px;
  height: 154px;
  position: absolute;
  top: -58px;
  right: -25px;
}

.partners-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 0px;
}

.partners-text {
  display: flex;
  flex-direction: column;
  width: 296px;

  margin-bottom: 32px;
}

.partners-text__title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

.partners-text__description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  margin-top: 16px;
}

.partners-logo {
  display: grid;
}

.partners-logo-binance {
  margin-bottom: 55px;
  width: 72%;
}

.partners-logo-huobi {
  margin-bottom: 58px;
  width: 91%;
}

.partners-logo-okex {
  margin-bottom: 54px;
  width: 63%;
}

.partners-logo-bitfinex {
  margin-bottom: 17px;
  width: 84%;
}

.partners-logo-hitbtc {
  margin-bottom: 72px;
  width: 67.5%;
}

.partners-logo-bitstamp {
  margin-bottom: 58px;
  width: 56%;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.feedback-text {
  display: flex;
  flex-direction: column;
}

.feedback-text__title {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;

  margin-bottom: 16px;
}

.feedback-text__description {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  margin-bottom: 32px;
}

.feedback-form__row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  width: 100%;
}

.feedback-form__name {
  background: #edeeef;
  border: 1px solid #e3e5e6;
  border-radius: 4px;
  padding: 20px 56px 15px 24px;

  width: 100%;
}

.feedback-form__mail {
  background: #edeeef;
  border: 1px solid #e3e5e6;
  border-radius: 4px;
  padding: 20px 56px 15px 24px;

  width: 100%;
}

.feedback-form__msg {
  position: relative;
  background: #edeeef;
  border: 1px solid #e3e5e6;
  border-radius: 4px;

  padding: 20px 179px 190px 24px;

  margin-bottom: 12px;

  width: 100%;
}

.feedback-form__msg textarea {
  resize: none;
  background: #edeeef;
}

.symbols-counter {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #b8b8b8;

  position: absolute;
  bottom: 21px;
  right: 28px;
}

.feedback-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.feedback-form ::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #808080;

  background: #edeeef;
}

.feedback-form__msg ::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #808080;

  background: #edeeef;
}

.feedback-form__personal-data {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #808080;

  margin-bottom: 12px;
}

.feedback-form__button {
  display: flex;
  width: 296px;
  width: 100%;
}

.button-feedback {
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  width: 100%;

  color: #ffffff;

  background: #3355ff;
  border-radius: 4px;

  padding: 18px 70.5px;
}

.button-feedback:hover {
  background-color: #1631b6;
}

.button-up {
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 0px;
  right: 83px;
  border: 2px solid #3355ff;
  border-radius: 50%;

  background-image: url("images/arrow-button-up.svg");
  background-repeat: no-repeat;
  background-position: center center;

  cursor: pointer;
  z-index: 50;
}

.footer-info {
  background: #122791;
}

.footer-info__description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 32px 0px;
}

.footer-info__text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}
/* ---------------------------------------------------------- */

@media (min-width: 768px) {
  .main-body {
    height: 752px;
    padding: 191px 0px 162px 0px;
  }

  .main-body__description-count {
    justify-content: center;
  }

  .banner-main::before {
    background-position: top -22px right -85px;
  }

  .statistics-card-body {
    margin-top: -147px;
    z-index: 1;
  }
  .statistics-card-body__description {
    width: 360px;
  }

  .possibilities-card-container {
    gap: 61px 24px;
  }

  .possibilities-card-body {
    width: 360px;
  }

  .possibilities-card-body__heading {
    width: 100%;
  }

  .getting-container__img {
    width: 360px;
  }

  .banner {
    margin-top: 100px;
  }

  .banner-body {
    padding: 44px 0px;
  }

  .banner-body__image img {
    width: 552px;
    height: 424px;
    top: -100px;
    right: -88px;
  }

  .partners-container {
    padding: 100px 0px;
  }

  .partners-text {
    width: 232px;
  }

  .partners-logo {
  }

  .column-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feedback-form__row {
    gap: 24px;
  }

  .feedback-form__name {
    max-width: 360px;
  }

  .feedback-form__mail {
    max-width: 360px;
  }

  .feedback-form {
    max-width: 744px;
    gap: 24px;
  }

  .partners-container {
    gap: 24px;
  }

  .partners-logo {
    grid-template-columns: 244px 244px;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .partners-logo img {
    margin: inherit;
  }

  .partners-logo .partners-logo-okex {
    margin: auto 0;
  }

  .partners-logo .partners-logo-bitfinex {
    margin: auto 0;
  }

  .partners-logo .partners-logo-bitstamp {
    margin: auto 0 0 0;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 84px;
  }

  .header__body {
    height: 64px;
  }

  .header__burger {
    display: none;
  }

  .header__menu {
    display: block;
    position: static;
    background-color: #ffffff;
    padding: 0px;
    height: initial;
    width: initial;
    transition: none;
  }

  .header__list {
    display: flex;
    position: relative;
    z-index: 2;
    flex-direction: row;
  }

  .header__list li {
    margin-bottom: 0px;
  }

  .header__link {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-left: 40px;

    color: #343a40;
    text-decoration: none;
  }

  .main-body {
    height: 740px;
    padding: 182px 0px 283px 0px;
    justify-content: initial;
  }

  .main-body__description-use {
    flex-direction: row;
    margin-top: 62px;
  }

  .main-body__description-btn {
    margin-right: 24px;
  }

  .statistics-card-body__description {
    max-width: 240px;
  }

  .possibilities-card-body {
    width: 328px;
  }

  .possibilities-card-body__heading {
    width: 328px;
  }

  .getting-container__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 24px;
  }

  .getting-container__item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .getting-container-text {
    max-width: 504px;
  }

  .getting-container__heading {
    margin-bottom: -40px;
  }

  .banner {
    margin-top: 128px;
  }

  .banner-body {
    padding: 61px 0px;
  }

  .banner-body__image img {
    width: 722px;
    height: 534px;
    top: -177px;
    right: 77px;
  }

  .partners-container {
    gap: 35px;
  }

  .partners-text {
    width: 293px;
  }

  .partners-logo {
    grid-template-columns: 240px 292px 172px;
    grid-template-rows: 1fr 2fr;
  }

  .partners-logo .partners-logo-binance {
    margin: auto 0;
  }

  .partners-logo .partners-logo-huobi {
    margin: auto 0;
  }

  .partners-logo .partners-logo-bitfinex {
    margin: auto 0 0 0;
  }

  .partners-logo .partners-logo-hitbtc {
    margin: auto auto 0 auto;
  }

  .partners-logo .partners-logo-okex {
    width: 100%;
    margin: auto 0;
  }

  .partners-logo .partners-logo-bitstamp {
    width: 89%;
    margin: auto 0 0 auto;
  }

  .feedback-container {
    justify-content: center;
  }

  .feedback-text {
    width: 272px;
    margin-right: 15px;
  }

  .feedback-form__button {
    width: 276px;
  }

  .button-feedback {
    padding: 18px 60.5px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding: 0 132px;
  }

  .statistics-card-body__description {
    max-width: 276px;
  }

  .possibilities-card-container {
    justify-content: center;
    max-width: 1440px;
  }

  .possibilities-card-body {
    width: 376px;
  }

  .possibilities-card-body__heading {
    width: 376px;
  }

  .getting {
    margin: 0 auto;
    max-width: 1440px;
  }

  .banner-body {
    padding: 88px 0px;
  }

  .banner-body__image img {
    width: 855px;
    height: 633px;
    top: -177px;
    right: 77px;
  }

  .partners-container {
    gap: 100px;
  }

  .feedback-text {
    width: auto;
    margin-right: 24px;
  }
}
